@import './colors.less';
@import './text.less';


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  outline: 1px solid red;
}

body {
  margin: 0;
  padding: 0;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}