// Headers mixins
.h1() {
  font-size: 104px;
  font-style: normal;
  font-weight: 900;
  line-height: 104px;
  @media (max-width: 767px) {
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 64px;
  }
}
.h2() {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
}
.h2mob() {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.h3() {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}
.h3-mob() {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}
.h4() {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.h4-mob() {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}
.text-normal() {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
.text-normal-mob() {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.text-small() {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.text-small-mob() {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.text-small-bold() {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.text-small-bold-mob() {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
